{% extends "Admin/AdminLayout.html" %}

{% block content %}

  <div class="columns">
    <div class="column is-half is-offset-one-quarter">

      <div class="box spaced-box has-text-centered">

        <h1 class="title">Bem Vindo(a)</h1>

  			<p>
          Pelo painel administrativo você pode controlar as principais funções e conteúdo do site.
        </p>

        <hr>

  			<p>
          Qualquer dúvida entrar em contato: <a href="mailto:bmonteirog@gmail.com">bmonteirog@gmail.com</a>
        </p>

      </div>
    </div>
  </div>

{% endblock %}
