@import 'bulma.css';

/*
| Meus estilos:
*/

.spaced-box{
  margin-top: 50px;
}

.padding-vertical{
  padding: 40px 0;
}

.td-controls{
    width: 30%;
    @media (max-width: 768px){
      a{
        margin-bottom: 5px;
      }
    }
}

.hero{
  background: #4e3d83;
  h1.title, h2.subtitle{
    color:#F5F5F5;
  }
  a{
    transition: all .3s ease-in;
    &:hover{color:#B86BFF;}
  }
}

html body nav.nav{
  background: #4e3d83;
  .container{
    @media (min-width: 768px){
      a{
        color:#fff;
        &:active, &:visited{color:#fff;}
      }
    }
    .nav-toggle {
      transition: all .3s ease-in;
      span{background-color: #fff;}
      &:hover{
        span{background-color:#4a4a4a;}
      }
    }
  }
}
